[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	pf = push --force-with-lease
	pu = push
	fe = fetch --prune
[user]
	name = Tom Feron
	email = tho.feron@gmail.com
[core]
	excludesfile = /home/thoferon/.gitignore_global
[push]
	default = current
[rerere]
	enabled = true
[pager]
	diff = delta
	show = delta
	log = delta
	blame = delta
	reflog = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	side-by-side = true
[delta "interactive"]
[init]
	defaultBranch = main
